@font-face {
   font-family: 'HelveticaNeue-MediumExt';
   src: url('HelveticaNeue-MediumExt/font.ttf');
}
@font-face {
   font-family: 'antique olive regular';
   src: url('antique olive regular/font.ttf');
}
@font-face {
   font-family: 'Helvetica-Regular';
   src: url('Helvetica-Regular/font.ttf');
}
