@font-face {
   font-family: 'gulax-webfont';
   src: url('gulax-webfont/font.ttf');
}
@font-face {
   font-family: 'Solide_Mirage-Etroit_web';
   src: url('Solide_Mirage-Etroit_web/font.ttf');
}
@font-face {
   font-family: 'bizmeud-webfont';
   src: url('bizmeud-webfont/font.ttf');
}
